.flex {
    background-color: aqua;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* row and rowreverse */

.item { 
    display: flex;
    justify-content: space-between;
    background-color: tomato;
    color: white;
    font-size: 2em;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(94%/5);
}