/* 
Selector {
  Property: Value;
  ...
} Declaration
*/
/* Background */
body {
  background-image: url("");
  background-repeat: repeat; /* default */
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-repeat: repeat-y;

  background-attachment: fixed; /* default */
  background-attachment: scroll;

  background-position: left top;
  background-position: left bottom;
  background-position: left center; /* default */
  background-position: right top;
  background-position: right bottom;
  background-position: right center; /* default */
  background-position: 10px 200px; /* left top. And you can use the % */
  
  background-size: auto; /* default */
  background-size: cover; /* it may stretch and cut the pic to cover all content*/
  background-size: contain; /* the pic is fully visible, never stretches etc */
  background-size: 100px 200px; /* width height  or use the % */ 
}

/* Padding */
/* Top Right Bottom Left */

