* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-template-rows: repeat(3, 300px); */
    gap: 10px 10px;
    justify-content: space-between;
    align-content: space-between;
}
/* 
display: grid;
grid-template-columns: repeat(5, 1fr); numeber of columns and their width 
grid-template-row: number of rows and their height;
repeat(5, 1fr) means 5 columns each taking up an equal fraction of the available space
gap:10px 10px; space between rows and columns

*/
.item {
    /* display: grid; */
    /* grid-template-columns: auto auto auto; */
    background-color: tomato;
    /* color: white; */
    font-size: 2em;
    /* gap: 10px; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
}